body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
.main {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    border: none;
    
}
.navbar {
width: 100%;
background-color: #0A91AB;
height: 100px;
}
#header {
    background-color: #0A91AB;
    width:100%;
}
.menu {
    width: 100%;
    background-color: #09829A;
    z-index: 50;
    position: fixed;
    top: 0;
    margin-right: 10px;     
    
}
.menu ul {
    top: 0;
    list-style-type: none;
    text-transform: uppercase;
    z-index: 50; 
    overflow: hidden;
    background-color: #09829A;
    
    
}
.menu li {
    float: left ;
    color: #fec045;
    font-size: 20px; 
    text-shadow: 2px 2px 3px #666666;
    padding: 5px 10px 5px 10px;
    background-color: #09829A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;

}

/* #li1 {
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-right: 0px;
    
    width: 20px;
}
#li4 {
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-left: 0px;
    
    width: 20px;
} */

.welcome {
    
    margin: 0 auto 0 auto;   
    font-size: 100%;
    
    width: 1000px;
    background-color: white;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(14, 13, 13, 0.596);
    
}
h1 {
    color: #09829A;
}
img.logo_front {
    display: block;
    height: 200px;
    margin: 50px auto 10px auto;
    z-index: 10;
    
    
}
   

#footer {
    
    
    text-align: center;
    margin: 20px auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(14, 13, 13, 0.596);
    background-color: #0A91AB;
}

a {
    display: block;
    color:  #fec045;
    text-decoration: none; 
    text-shadow: 3px 3px 3px black;
}
a:link a:visited a:active {
    color:  #fbfe45;
    text-decoration: none; 
}

a:hover {
    color:  #fffb07;
    
}

img.collection3 {
    display: block;
    margin: 30px auto 30px auto; 
    box-shadow: 0px 0px 10px grey;
    flex-flow: row;
    
}
img.fb {
    height: 70px;
}